<!-- Toolbar -->
<div class="toolbar" role="banner">
  <app-toolbar></app-toolbar>
</div>

<div class="content" role="main">
  <aside class="sidebar">
    <app-sidebar></app-sidebar>
  </aside>
  <div class="dashboard">
    <h3 class="welcome">Welcome! John Doe</h3>

    <div class="boards">
      <div class="fleet-board">
        <div class="card">
          <div class="card-header">
            <h3>VPark Fleet</h3>
            <div class="card-actions">
              <div class="action">
                <img src="/assets/icons/Group%2079025.svg" alt="grid">
              </div>
              <div class="action">
                <img src="/assets/icons/Group%2079024.svg" alt="filter">
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="fleet">
              <div class="fleet-title">
                <img src="/assets/icons/Group 62101.svg" alt="bus">
                <h3> <span class="status yellow"></span> Smart vehicle 1</h3>
                <span class="expand-arrow">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
              <div class="fleet-content">
                <div class="service">
                  <img class="icon" src="/assets/icons/Group%2085042.svg" alt="">
                  <p class="title">Camera</p>
                  <p class="description">Online</p>
                  <div class="status active">Active</div>
                </div>
                <div class="service">
                  <img class="icon" src="/assets/icons/Group%2085041.svg" alt="">
                  <p class="title">Network</p>
                  <p class="description">Available</p>
                  <div class="status active">Active</div>
                </div>
                <div class="service">
                  <img class="icon" src="/assets/icons/Group%2085043.svg" alt="">
                  <p class="title">Memory</p>
                  <p class="description">20%</p>
                  <div class="status active">Normal</div>
                </div>
                <div class="service">
                  <img class="icon" src="/assets/icons/Group%2085035.svg" alt="">
                  <p class="title">CPU Temp</p>
                  <p class="description">70</p>
                  <div class="status inactive">High</div>
                </div>
              </div>
            </div>

            <div class="fleet">
              <div class="fleet-title">
                <img src="/assets/icons/Group 62101.svg" alt="bus">
                <h3> <span class="status green"></span> Smart vehicle 1</h3>
                <span class="expand-arrow">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
              <div class="fleet-content"></div>
            </div>

            <div class="fleet">
              <div class="fleet-title">
                <img src="/assets/icons/Group 62101.svg" alt="bus">
                <h3> <span class="status green"></span> Smart vehicle 1</h3>
                <span class="expand-arrow">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
              <div class="fleet-content"></div>
            </div>

            <div class="fleet">
              <div class="fleet-title">
                <img src="/assets/icons/Group 62101.svg" alt="bus">
                <h3> <span class="status yellow"></span> Smart vehicle 1</h3>
                <span class="expand-arrow">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
              <div class="fleet-content"></div>
            </div>

            <div class="fleet">
              <div class="fleet-title">
                <img src="/assets/icons/Group 62101.svg" alt="bus">
                <h3> <span class="status red"></span> Smart vehicle 1</h3>
                <span class="expand-arrow">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
              <div class="fleet-content"></div>
            </div>

            <div class="fleet">
              <div class="fleet-title">
                <img src="/assets/icons/Group 62101.svg" alt="bus">
                <h3> <span class="status green"></span> Smart vehicle 1</h3>
                <span class="expand-arrow">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
              <div class="fleet-content"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="statistics-boards">
        <div class="card chart">Not Available Now :"(</div>

        <div class="statistics">
          <div class="statistic">
            <div class="card">
              <img class="icon" src="/assets/icons/BG-1.png" alt="">
              <p>2,108</p>
              <span>Total Violations</span>
            </div>
          </div>
          <div class="statistic">
            <div class="card">
              <img class="icon" src="/assets/icons/BG.png" alt="">
              <p>2,108</p>
              <span>Total Violations</span>
            </div>
          </div>
          <div class="statistic">
            <div class="card">
              <img class="icon" src="/assets/icons/BG-3.png" alt="">
              <p>2,108</p>
              <span>Total Violations</span>
            </div>
          </div>
          <div class="statistic">
            <div class="card">
              <img class="icon" src="/assets/icons/BG-2.png" alt="">
              <p>2,108</p>
              <span>Total Violations</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner">
      <img class="gears" src="./assets/icons/Mask%20Group%2049.png" alt="Gear banner">
      <div class="text">
        <h3>Get a bird’s eye <span>view</span> in a snap.</h3>
        <p>
          We equip you with the tools to customise your dashboards and track fleet status, decorations, and violations at a glance.
          Easily run reports from a high-level overview down to the very last detail.</p>
      </div>
    </div>

    <div class="card">
      <h3>Trip Route</h3>
    </div>
  </div>
</div>

