<div class="nav">

  <div class="header">
    <div class="logo">
      <div class="rect-left"></div>
      <div class="rect-middle"></div>
      <div class="rect-right"></div>
    </div>
    <h1>Logo</h1>
  </div>

  <div class="nav-actions">
    <div class="action search-bar">
      <input placeholder="Search">
      <div class="icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <div class="action language" appExpand>
      <i class="fa-solid fa-globe"></i>
      <div class="dropdown">
        <p>English</p>
        <hr>
        <p>عربي</p>
      </div>
    </div>
    <div class="action notification" appExpand>
      <i class="fa-solid fa-bell"></i>
      <div class="dropdown">
        <div class="item active">
          <div class="bell-icon">
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="details">
            <h4>GIS Data Request</h4>
            <p>Ahmad Khalil is Waiting for approval to Add New GIS Data</p>
          </div>
          <div class="metadata">
            <p class="date">12:08&nbsp;PM</p>
            <p class="notification-action">Show<span><i class="fa-solid fa-chevron-right"></i></span></p>
          </div>
        </div>
        <hr>
        <div class="item">
          <div class="bell-icon">
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="details">
            <h4>GIS Data Request</h4>
            <p>Ahmad Khalil is Waiting for approval to Add New GIS Data</p>
          </div>
          <div class="metadata">
            <p class="date">23/01/2023</p>
            <p class="notification-action">Show<span><i class="fa-solid fa-chevron-right"></i></span></p>
          </div>
        </div>
        <hr>
        <div class="item">
          <div class="bell-icon">
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="details">
            <h4>GIS Data Request</h4>
            <p>Ahmad Khalil is Waiting for approval to Add New GIS Data</p>
          </div>
          <div class="metadata">
            <p class="date">23/01/2023</p>
            <p class="notification-action">Show<span><i class="fa-solid fa-chevron-right"></i></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="user">
      <div class="avatar">
        <img src="/assets/images/user_avatar.jpeg" alt="user avatar">
      </div>
      <div class="user-details">
        <h3>John Doe</h3>
        <p>Admin</p>
      </div>
      <div class="user-menu-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </div>

</div>
