<div class="sidebar">
  <div class="item active">
    <span></span>
    <img src="/assets/icons/home%20(1).svg" alt="home icon">
    Home
  </div>
  <div class="item">
    <span></span>
    <img src="/assets/icons/transaction.svg" alt="transaction icon">
    Operation
  </div>
  <div class="item">
    <span></span>
    <img src="/assets/icons/map.svg" alt="home icon">
    Map
  </div>
  <div class="item">
    <span></span>
    <img src="/assets/icons/Group%2087612.svg" alt="home icon">
    Reports
  </div>
  <div class="item">
    <span></span>
    <img src="/assets/icons/Group%2085063.svg" alt="home icon">
    Control Panel
  </div>

  <div class="help-box">
    <img src="/assets/icons/Group%2084983.png" alt="help icon">
    <h3>Need Help?</h3>
    <p>Click here to find Functionalities, Help, and More!</p>
    <div class="btn">Discover</div>
  </div>
</div>
